
  whoami:
    image: docker.io/traefik/whoami:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`{{ dms_env_vars['SSL_DOMAIN'] }}`)"
  {% if dms_ssl_provider == 'traefik-external' %}
      - "traefik.http.routers.whoami.tls=true"
      - "traefik.http.routers.whoami.tls.certResolver=letsEncrypt"
    networks:
      - proxy-network
  {% endif %}
