services:
  mailserver:
    hostname: {{ dms_hostname }}
{% if dms_ssl_provider %}
    volumes:
      - {{ dms_ssl_path }}:{{ dms_ssl_defaults[dms_ssl_provider].target_path }}
{% endif %}
{% if dms_ipv6_enable %}
    networks:
      - dms-ipv6
{% endif %}
{% if dms_env_vars.get('ENABLE_FAIL2BAN') == 1 %}
    cap_add:
      - NET_ADMIN
{% endif %}
{% if dms_ssl_provider == 'traefik' %}
  {% include './templates/services/traefik-proxy.j2' %}
{% endif %}
{% if dms_ssl_provider in ('traefik', 'traefik-external') +%}
  {% include './templates/services/whoami.j2' %}
{% endif %}

{% if dms_ssl_provider == 'traefik-external' or dms_ipv6_enable %}
networks:
  {% if dms_ssl_provider == 'traefik-external' %}
  proxy-network:
    external: true
  {% endif %}
  {% if dms_ipv6_enable %}
  dms-ipv6:
    enable_ipv6: true
    ipam:
      config:
        - subnet: {{ dms_ipv6_subnet }}
  {% endif %}
{% endif %}
